{% extends "base.html" %}
{% block content %}
<h2>Proyectos</h2>
{% if proyectos %}
<ul>
    {% for proyecto in proyectos %}
    <li>
        <a href="{% url 'proyectos:detalle_proyecto' proyecto.id %}">{{ proyecto.nombre }}</a>
        <a href="{% url 'proyectos:editar_proyecto' proyecto.id %}" class="btn btn-sm btn-primary">Editar</a>
        <a href="{% url 'proyectos:eliminar_proyecto' proyecto.id %}" class="btn btn-sm btn-danger">Eliminar</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay proyectos disponibles.</p>
{% endif %}
<a href="{% url 'proyectos:crear_proyecto' %}" class="btn btn-primary">Crear Proyecto</a>
{% endblock %}